<nav class="navbar">

  <div  routerLink="" style=" margin-left: 20px">Navbar</div>

  <div class="dropdown">
    <form>
      <label style="margin-right: 5px;"> Language </label>
      <select>
      <option value = "English"> English 
      </option>
      <option value = "Hindi"> Hindi 
      </option>
      </select>
      </form>

  </div>
  <div  routerLink="">Home</div>
  <div  routerLink="">Aboutus</div>
  <div  routerLink="">Order B</div>
  <div  routerLink="">All Order A</div>
  <div  routerLink="seller/product">Product s</div>
  <div  routerLink="">All Product A</div>
  <div routerLink="/contact-us">Contact us</div>
  <input class = "searchInput"
    type="search"
    placeholder="Search"
    aria-label="Search"
  />
  <button class="SearchButton">Search</button>

  <div routerLink="/sign-in">Sign In</div>
  <div routerLink="/sign-up">Sign up</div>
  <div routerLink="/my-profile">My Profile</div>
  <div style="margin-right: 20px ">Log Out</div>
</nav>
