
<footer id="footer">
  <div class="container">
    <div class ="all-words">Created By - Debarshi Kundu</div>
      <div class ="all-words">Follow Me On --> </div>
      <div class ="all-words" > 
      <a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a>
        </div>
        <div class ="all-words">
          <a href=""><i class="fa-brands fa-github"></i> Github</a>
        </div>
        <div class ="all-words">
          <a href=""><i class="fa-brands fa-twitter"></i> twitter</a>
        </div>
    </div>
</footer>
